reader.creatorlive.org {
    encode zstd gzip
    reverse_proxy 127.0.0.1:3011

    header {
        X-Content-Type-Options nosniff
        Referrer-Policy no-referrer
        X-Frame-Options DENY
    }
}
